
<h1>
    Welcome to
    <%= @shelter.name %></h1>
    <img src='<%=  "http://lorempixel.com/300/300/nature/" %>
    ' class=' medium-3 right'/>
    <h3>About us</h3>
<div class='medium-8 clearfix puppy-bio' >

    <p>
        <%= @shelter.story %>
          </p>
</div>
<div class='medium-3 panel right'>

    <h3>Details</h3>
    <ul >
        <li > <strong>Address:</strong>
            <%= @shelter.address %></li>
        <li > <strong>Phone:</strong>
            <%= @shelter.phone %></li>
        <li >
            <strong>Email:</strong>
            <%= @shelter.email %></li>
    </ul>
    <%  if can? :update, @shelter %>
    <%= link_to 'Edit', edit_shelter_path(@shelter), class: 'button tiny radius' %>
    <% end %>
    <% if can? :delete, @shelter %>
    <%= link_to 'Delete', @shelter, method: :delete, data: {confirm: 'Are you sure you want to delete this shelter?'}, class: 'button tiny radius' %>
    <% end %>
</div>
<div class=' medium-8 columns  left shelter-pets'>
<h3>Meet our family
<% if can? :update, @shelter %>
 - <small><%= link_to 'add', new_shelter_pet_path(@shelter) %></small>
 <% end %>
 </h3>
<% @shelter.pets.each do |pet| %>
    <div class='medium-4 clearfix  columns left' >
        <img src='<%= pet.picture_url || "http://lorempixel.com/300/300/animals/8/" %>'
         class='tiny th' />
         <ul class=''>
              <li><%= link_to pet.name, [@shelter,pet] %></li>
              <li><%= pet.color %> <%= pet.breed %></li>
             <li><%= pet.sex[0].upcase %> - <%= pet.age %></li>
         </ul>
    </div>
<% end %>
</div>