<h1>
    Meet
    <%= @pet.name.capitalize %></h1>

<div class='medium-12 clearfix puppy-bio' >
    <img src='<%= @pet.picture_url || "http://lorempixel.com/300/300/animals/8/" %>
    '
         class='puppy large right'/>
    <h3>My story</h3>
    <p>
        <%= @pet.bio %>
          </p>
</div>

<div class='row large-12 panel puppy-information'>
    <h3>Puppy Details</h3>
    <ul >
        <li class='medium-4 column'> <strong>Name:</strong>
            <%= @pet.name %></li>
        <li class='medium-4 column'> <strong>Breed:</strong>
            <%= @pet.breed %></li>
        <li class='medium-4 column'>
            <strong>Sex:</strong>
            <%= @pet.sex %></li>
        <li class='medium-4 column'>
            <strong>Color:</strong>
            <%= @pet.color %></li>
        <li class='medium-4 column'>
            <strong>Size:</strong>
            <%= @pet.size %></li>
        <li class='medium-4 column'>
            <strong>Kid Friendly:</strong>
            <%= @pet.kid_friendly %></li>
    </ul>
</div>
