<h1>Welcome to Best Friends Finder</h1>
<p>choose your friends!</p>

<%= form_tag '/matches/find' do %>
<% unless current_user %>
<div class="panel clearfix">
 <h2>Tell us about yourself</h2>

 <div class="small-6 columns"> <%= text_field_tag :user_name, nil, placeholder: "Your Name" %></div>

 <div   class="small-6 columns"><%= text_field_tag :user_zip, nil, placeholder: "Zip Code" %></div>
</div>
<% end %>
<div class="panel">
<h2>What type of companion are you looking for?</h2>
<%= radio_button_tag(:pet_type, "dogs") %>
<%= label_tag(:pet_type_dogs, "Dogs") %>
<%= radio_button_tag(:pet_type, "cats") %>
<%= label_tag(:pet_type_cats, "Cats") %>
<%= radio_button_tag(:pet_type, "other") %>
<%= label_tag(:pet_type_other, "Others") %>
<%= radio_button_tag(:pet_type, "all") %>
<%= label_tag(:pet_type_all, "All") %>

</div>


<div class="panel">
<h2>What size companion are you looking for?</h2>

<%= radio_button_tag(:pet_size, "xsmall") %>
<%= label_tag(:pet_size_xsmall, "X-Small") %>
<%= radio_button_tag(:pet_size, "small") %>
<%= label_tag(:pet_size_small, "Small") %>
<%= radio_button_tag(:pet_size, "medium") %>
<%= label_tag(:pet_size_medium, "Medium") %>
<%= radio_button_tag(:pet_size, "large") %>
<%= label_tag(:pet_size_large, "Large") %>
<%= radio_button_tag(:pet_size, "xlarge") %>
<%= label_tag(:pet_size_xlarge, "X-Large") %>
<%= radio_button_tag(:pet_size, "all") %>
<%= label_tag(:pet_size_all, "All") %>
</div>

<div class="panel">
  <h2>What gender would you prefer for your pet?</h2>
<%= radio_button_tag(:pet_gender, "male") %>
<%= label_tag(:pet_gender_male, "Male") %>
<%= radio_button_tag(:pet_gender, "female") %>
<%= label_tag(:pet_gender_female, "Female") %>
<%= radio_button_tag(:pet_gender, "all") %>
<%= label_tag(:pet_gender_all, "All") %>

</div>

<div class="panel">
  <h2>What personality would you prefer for your pet?</h2>


<%= radio_button_tag(:pet_personality, "low") %>
<%= label_tag(:pet_personality_low, "Loyal Companion") %>
<%= radio_button_tag(:pet_personality, "medium") %>
<%= label_tag(:pet_personality_medium, "Family Friendly") %>
<%= radio_button_tag(:pet_personality, "high") %>
<%= label_tag(:pet_personality_high, "Sporty, High Energy") %>
<%= radio_button_tag(:pet_personality, "extreme") %>
<%= label_tag(:pet_personality_extreme, "Extreme") %>

</div>

  <%= submit_tag "Search" , class: "button"%>
<% end %>
