<section class="hero large-12 columns"
  style='background-image: url("http://lorempixel.com/800/800/cats/");'>
  <div class="row intro panel match-details ">
    <h2>
      Meet
      <%=@pet.name %></h2>
    <div class="medium-9 left match-content">
      <h3>My story</h3>
      <p>
        <%= @pet.bio %>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, rerum odit ipsa iste sint reprehenderit eveniet asperiores porro perspiciatis, optio, architecto mollitia accusamus in autem officiis culpa. Neque natus fuga commodi sequi vel dolorem porro, quia temporibus et. Quae aliquam laborum tempora aliquid, sit ducimus assumenda aperiam velit quia eius recusandae soluta itaque dolores, qui iste eaque fugiat, in nemo deleniti consequatur deserunt repellat possimus dolore nihil natus? Nulla, repellat dignissimos suscipit. Vero, a. Repellat, provident voluptatum odio fuga obcaecati atque aspernatur praesentium voluptatem, laborum, ipsam voluptas? Molestias, iure, repellendus. Reprehenderit earum qui eligendi mollitia, autem nostrum soluta rem a!
      </p>
    </div>
    <div class="medium-3 right match-side">
      <h4> Match Percent </h4>
      <table>
        <tr>
          <th>Breed</th>
          <td>
            <%= @pet.breed %></td>
        </tr>
        <tr>
          <th>Sex</th>
          <td>
            <%= @pet.sex %></td>
        </tr>
        <tr>
          <th>Color</th>
          <td>
            <%= @pet.color %></td>
        </tr>
        <tr>
          <th>Size</th>
          <td>
            <%= @pet.size %></td>
        </tr>
        <tr>
          <th>Energy</th>
          <td>
            <%= @pet.energy %></td>
        </tr>
      </table>
    </div>
  </div>
</section>

