<section class="hero large-12 columns"
  style='background-image: url("http://lorempixel.com/800/800/animals/");'>
  <div class="row intro panel match-details ">
  <h4 class='right'>  &#10084; Favorite <%= @pet.name %> </h4>
    <h2>
      Meet
      <%=@pet.name %></h2>

    <div class="medium-8 left match-content">
      <h3>My story</h3>
      <p>
        <%= @pet.bio %>

      </p>
            <a href='#' class='button'> Contact Shelter </a>
    </div>
    <div class="medium-4 right match-side">

      <table class='match-details'>
      <tr><th>Match</th>
      <td>95%</td></tr>
        <tr>
          <th>Breed</th>
          <td>
            <%= @pet.breed %></td>
        </tr>
        <tr>
          <th>Sex</th>
          <td>
            <%= @pet.sex %></td>
        </tr>
        <tr>
          <th>Color</th>
          <td>
            <%= @pet.color %></td>
        </tr>
        <tr>
          <th>Size</th>
          <td>
            <%= @pet.size %></td>
        </tr>
        <tr>
          <th>Energy</th>
          <td>
            <%= @pet.energy %></td>
        </tr>
      </table>
    </div>

  </div>

</section>

