<section class="hero">
  <div class="row intro">
  <h2>Meet <%=@pet.name %></h2>
    <div class="small-centered medium-uncentered medium-6 large-7 columns">
      <h3>My story</h3>
    <p>
        <%= @pet.bio %>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, rerum odit ipsa iste sint reprehenderit eveniet asperiores porro perspiciatis, optio, architecto mollitia accusamus in autem officiis culpa. Neque natus fuga commodi sequi vel dolorem porro, quia temporibus et. Quae aliquam laborum tempora aliquid, sit ducimus assumenda aperiam velit quia eius recusandae soluta itaque dolores, qui iste eaque fugiat, in nemo deleniti consequatur deserunt repellat possimus dolore nihil natus? Nulla, repellat dignissimos suscipit. Vero, a. Repellat, provident voluptatum odio fuga obcaecati atque aspernatur praesentium voluptatem, laborum, ipsam voluptas? Molestias, iure, repellendus. Reprehenderit earum qui eligendi mollitia, autem nostrum soluta rem a!
    </p>
    </div>
    <div class="small-centered medium-uncentered medium-6 large-5 columns">
              <ul>
        <li > <strong>Name:</strong>
            <%= @pet.name %></li>
        <li > <strong>Breed:</strong>
            <%= @pet.breed %></li>
        <li >
            <strong>Sex:</strong>
            <%= @pet.sex %></li>
        <li >
            <strong>Color:</strong>
            <%= @pet.color %></li>
        <li >
            <strong>Size:</strong>
            <%= @pet.size %></li>
        <li >
            <strong>Kid Friendly:</strong>
            <%= @pet.kid_friendly %></li>
         </ul>
    </div>
  </div>
</section>


<div class='row large-12 panel match-details clearfix'>

    <div class='medium-9 left match-content' >

    </div>

    <div class='medium-3 right match-side'>


    </div>

</div>
