<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Best Friends Forever</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body >
 <nav class="top-bar row" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Best Friends Forever</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li ><%= link_to "Pets", pets_path %></li>
          <li><%= link_to "Shelters", shelters_path %></li>
          <li class="has-form">
          <div class="row collapse"
            <%= form_tag '/pets/search' do %>
            <div class='small-9 column'>
            <%= text_field_tag :s, nil, placeholder: "Pets Search" %>
            </div>
            <div class="small-3 columns">
            <%= submit_tag "Go", id: 'button', class: "button postfix" %>
            </div>
          </div>
            <% end %>
          </li>
        </ul>
      </section>
    </nav>
    <main class='content row'>
    <%= yield %>
  </main>
<footer>
<div class='footer-content row'>
  &copy; best friends pet finder
</div>
</footer>
</body>
</html>