<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />


    <title>Best Friends Forever</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body >
<nav class="top-bar" data-topbar>
          <ul class="title-area">

            <li class="name">
              <h1>
                <a href="/">
                  <img src='/assets/bff-logo.png' alt='bff logo'  class='logo'/> BFF
                </a>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>

          <section class="top-bar-section">

            <ul class="right">
              <li class="divider"></li>
              <li ><%= link_to "Find Your Pet Match", matches_path %></li>
              <li class="divider"></li>
              <!-- Below = Secure signout link for current_user -->
              <% if current_user %>
              <li><%= link_to "Favorites (#{current_user.favorites.count})", favorites_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
              <% else %>

              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
            </ul>
          </section>
        </nav>


    <%= yield %>

<footer>
<div class='footer-content row'>
  &copy; best friends pet finder
</div>
</footer>
</body>
</html>

